{% extends 'base.html' %}


{% block title %}
  job application form
{% endblock title %}
  

{% block content %}
  
<form method="POST" class="post-form form-horizontal" enctype="multipart/form-data">{% csrf_token %}
    <h3 style="margin-bottom: 20px;color:#4EA185 ">APPLY FOR JOB</h3>
      <div class="form-group" aria-placeholder="email@gmail.com">
        {{ form.email.errors }}
        <label class="control-label col-sm-2" for="{{ form.email.id_for_label }}" >Email Address</label>
        <div class="col-sm-5" >{{ form.email }}</div>
        <div class="clear"></div>
      </div>
      <div class="form-group">
        {{ form.subject.errors }}
        <label class="control-label col-sm-2" for="{{ form.subject.id_for_label }}">Job Title</label>
        <div class="col-sm-5">{{ form.subject }}</div>
        <div class="clear"></div>
      </div>
      <div class="form-group">
        {{ form.document.errors }}
        <label class="control-label col-sm-2" for="{{ form.document.id_for_label }}">Upload CV  </label>
        <div class="col-sm-5">{{ form.document }}</div>
        <div class="clear"></div>
      </div>
      <div class="form-group">
        {{ form.message.errors }}
        <label class="control-label col-sm-2" for="{{ form.message.id_for_label }}">Description</label>
        <div class="col-sm-5">{{ form.message}}</div>
        <div class="clear"></div>
      </div> 
      <div class="form-group">
        <label class="control-label col-sm-2"></label>
        <div class="col-sm-5 "><input style="background-color: #4EA185 !important" class="btn btn-sm" type="submit" name="submit" value="Send   Email"></div>
        <div class="clear"></div>
      </div> 
</form>

{% endblock content %}